//Colors
$white-div: rgb(255, 255, 255);
$white-bg: rgba(250, 248, 245, 1);
$blue: rgba(38, 64, 101, 1);
$green: rgba(169, 214, 203, 1);
$grey: rgba(144, 144, 144, 1);

$primary-font: "Poppins", sans-serif;
$secundary-font: "Nunito Sans", sans-serif;