$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Colors
$white-div: rgba(255, 255, 255, 1);
$white-bg: rgba(250, 248, 245, 1);
$blue: rgba(38, 64, 101, 1);
$green: rgba(169, 214, 203, 1);
$grey: rgba(144, 144, 144, 1);


$primary-font: "Poppins", sans-serif;
$secundary-font: "Nunito Sans", sans-serif;