.header {
    width: 100%;
    padding: 20px 10;
        margin: 33px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;


    .logo {
        width: 212px;
        height: auto;
        margin-right: 164px;
    }

    .nav-principal {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;

        .nav-links {
            display: flex;
            list-style: none;
            gap: 56px;
            li {
                a {
                    text-decoration: none;
                    color: $blue;
                    font-size: 18px;
                    transition: all 0.3s ease;
                        &:hover {
                                text-decoration: underline;
                            color: darken($blue, 10%);
                            }
                }
            }
        }

        .more-menu {
            font-size: 18px;
            margin-left: 60px;
                margin-right: 280px;
            font-family: $secundary-font;
            color: $blue;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $white-bg;
            
        }
    }

    .icons {
        display: flex;
        align-items: center;
        margin-right: 50px;
        gap: 32px;

        img {
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }

    .login {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 32px;
            margin-left: 20px;
        }

        li {
            list-style: none;
            display: flex;
            align-items: center;
        }

        & .link {
            color: $blue;
            font-size: 18px;
            text-decoration: none;
            font-family: $secundary-font;
        }

        & .link:hover {
            text-decoration: underline;
        }

        &.button {
            @include button;
            cursor: pointer;

        }
    }
}