body {
    position: relative;
    background: linear-gradient(to right, $white-bg 66.66%, $green 33.33%);
    background-repeat: no-repeat;
}

.img-principal {
    position: fixed;
    width: 73%;
    z-index: 1;
    top: -5px;
    left: 22%;
}
.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    
    .testimonial1, .testimonial2 {
    display: block;
    position: absolute;
    max-width: 370px;
    padding: 18px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    z-index: 3;
    p {
            margin: 4px 0;
        }
    }
    .testimonial1 {
    top: -500px;
        right: 140px;
    }

    .testimonial2 {
    top: -238px;
        right: 255px;
    }
    .name {
        font-size: 18px;
        font-weight: 700;
        color: $blue;
        margin-top: 20px;
            font-style: normal;
    }
}

.bg {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 78%;
    background-image: url('../img/spa.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right 240px top 55px;
    z-index: -1;
}
.white-field {
    position: fixed;
    background-color: $white-div;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25vh;
    z-index: -100;
}
